*{
  margin: 0px;
  padding: 0px;
  font-size: 62.5%;
  text-decoration: none;
  list-style: none;
}

body{
  background-image: url("img/login img.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-attachment:fixed;
}
#loginText li {
    font-size: 10px;
    list-style-type: none;
    padding: 5px 20px;
    background-image: url("img/checkmark.png");
    background-repeat: no-repeat;
}
.container{
  background: white;
  width: 60%;
  padding: 40px;
  margin: 60px auto;
  opacity: 100;
  min-height: 200px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.6);
  border-radius: 1px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.name{
  /* background-color: black; */
  color: black;
  text-align: center;
  border-right: 1px solid black;
}

.name > h1{
  margin-top: 8rem;
  font-size: 5rem;
}

.name>h2{
  margin-top: 3rem;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.login{
  /* background-color: blue; */
  text-align: center;
}

h2{
  font-size: 2rem;
  font-family: cursive;
}

form{
  display: block;
  font-size: 2rem;
  margin-top: 1rem;
}

.top>i{
  font-size: 5rem;
  margin-bottom: 0.5rem;

}

input[type=email]{
  margin: 1rem;
  line-height: 3rem;
  border-radius: 1px;
  width: auto;
  background-color: #000;
}
input[type=password]{
  margin: 1rem;
  line-height: 3rem;
  border-radius: 1px;
  width: auto;
  background-color: #000;
}

input[type=submit]{
  margin-top: 1rem;
  font-size: 1.5rem;
  border-radius: 1px;
  width: 30%;
  line-height: 2rem;
  background-color: #000;
}

input[type=submit]:hover{
  background-color: #000;
}